body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: #333333;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #eee;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  table {
    caption-side: bottom;
    font-size: 10px;
  }

  th {
    text-align: left;
    background-color: #fff;
  }

  table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
  }

  th, td {
    padding: 5px;
  }

  tr:nth-child(even) {
    background-color: #fff;
  }

  tr:nth-child(odd) {
    background-color: #eee;
  }